Flowchart_lungseg.PNG
VGG_UNet/Unet_results.PNG
VGG_UNet/README.html
SegNet/segnet_results.PNG
SegNet/segnet_results_compiled.PNG
HDC_DUC/results_git/
HDC_DUC/pics/
GCN/gcn4.png
GCN/gcn6.png
GCN/result_NEWMCUCXR_0019_0.png
GCN/shrunk_result_NEWMCUCXR_0019_0.png
HDC_DUC/code/requirements.txt
